@font-face {
    font-family: heading2;
    src: url("RantesRegular-9MmK2.ttf");
}

@font-face {
    font-family: libBold;
    src: url("LiberationSans-Bold.ttf")
}

@font-face {
    font-family: body;
    src: url(LiberationSans-Regular.ttf);
}

:root {
    --color1: #3c552d;
    --color2: #ca7373;
    --color3: #d7b26d;
    --color4: #eee2b5;
    --textcolor: #4b3f24;
}

.title {
    text-align: center;
    text-decoration: none;
    padding: 5px 5px;
    font-size: 50px;
    font-family: heading2;
    font-weight: normal;
    letter-spacing: 5px;
    background-color: var(--color1);
    color: var(--color3);
    border-bottom:var(--color4);
    border-bottom-style: solid;
    border-bottom-width: 6px;
    border-top:var(--color2);
    border-top-style: solid;
    border-top-width: 6px;
}

body {
    background-color: var(--color4);
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: var(--color2);
    overflow: auto;
    border-bottom:var(--color1);
    border-bottom-style: solid;
    border-bottom-width: 6px;
    display: flex;
    justify-content: center;

}

.navbar a.active{
    background-color: var(--color3);
    color:  var(--color4);
}

.navbar a{
    text-decoration: none;
    padding: 20px 20px;
    float: left;
    text-align: center;
    color: var(--color3);
    font-size: 25px;
    font-family: heading2;
    border-radius: 5px;
}

.navbar a:link{
    text-decoration: none;
    color: var(--color3);
}

.navbar a:hover {
    background-color: var(--color4);
    color: var(--color2)
}

p {
    font-family: body;
}

.parabody {
    font-size: 17px;
    background-color:#d7b26d;
    padding: 10px 20px;
    margin-top: 20px;
    letter-spacing: 0.5px;
    border-radius: 10px;
    color: var(--textcolor);
}

.graph {
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color2);
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 10px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.data {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.ftr {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.students {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.video {
    border-radius: 20px;
    background-color:var(--color1);
    padding: 20px 20px;
    margin-right: 20px;
    overflow: hidden;
    display: inline;
    justify-content: center;
}

.small {
    width: 30%;
}

.big {
    width: 50%;
}

button {
    margin: auto;
    background-color: var(--color4);
    color: var(--color1);
    border-radius: 20px;
    border: solid;
    border-color: var(--color2);
    border-width: 5px;  
    font-family: heading2;
    font-size: 20px;
    display: block;
    padding: 10px 10px;
    text-align: center;
}

iframe {
    margin: auto;
    display: block;
}

footer {
    margin-top: 50px;
    background-color: var(--color2);
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
}

h2 {
    text-align: center;
    font-family: heading2;
    color: var(--color2);
    font-size: 50px;
    font-weight: normal;
    text-decoration: none;
}

.intro {
    background-color: var(--color2);
    padding: 20px 20px;
    display: inline;
    margin-right: 20px;
    text-align: center;
    border-radius: 20px;
    color: var(--color4);
    width: 30%
}

h3 {
    text-align: center;
    font-family: heading2;
    color: var(--color3);
    font-size: 35px;
    font-weight: normal;
    text-decoration: none;
    margin: 0;
    padding: 0;
    border-radius: 20px;
    background-color: var(--color4);
    padding: 5px 5px;
    letter-spacing: 2px;
}

.shoebox {
    margin-right: 30px;
    background-color: var(--color4);
    padding: 20px 20px;
    display: inline;
    justify-content: center;
    border-radius: 20px;
    width: 20%;
    text-align: center;
}

h4 {
    font-family: heading2;
    font-size: 30px;
    font-weight: normal;
    text-decoration: none;
    color: var(--color1);
    text-align: center;
    margin: 0;
}

.shoebox a{
    text-decoration: none;
    color: var(--color4);
    border-radius: 30px;
    text-align: center;
    font-family: heading2;
    font-size: 30px;
    background-color: var(--color2);
    padding: 10px 15px;
    margin: 0;
}

.shoeboxh {
    margin-right: 30px;
    background-color: var(--color4);
    padding: 20px 20px;
    display: inline;
    justify-content: center;
    border-radius: 20px;
    width: 20%;
    text-align: center;
}

.shoeboxh a{
    text-decoration: none;
    color: var(--color4);
    border-radius: 30px;
    text-align: center;
    font-family: heading2;
    font-size: 30px;
    background-color: var(--color2);
    padding: 10px 15px;
    margin: 0;
}

.ho {
    background-color: var(--color3);
}

.bigpara {
    font-size: 19px;
    background-color:#d7b26d;
    padding-top:20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    letter-spacing: 0.5px;
    border-radius: 10px;
    color: var(--textcolor);
}