@font-face {
    font-family: heading2;
    src: url("RantesRegular-9MmK2.ttf");
}

@font-face {
    font-family: libBold;
    src: url("LiberationSans-Bold.ttf")
}

@font-face {
    font-family: body;
    src: url(LiberationSans-Regular.ttf);
}

:root {
    --color1: #3c552d;
    --color2: #ca7373;
    --color3: #d7b26d;
    --color4: #eee2b5;
    --textcolor: #4b3f24;
}

.title {
    text-align: center;
    text-decoration: none;
    padding: 5px 5px;
    font-size: 50px;
    font-family: heading2;
    font-weight: normal;
    letter-spacing: 5px;
    background-color: var(--color1);
    color: var(--color3);
    border-bottom:var(--color4);
    border-bottom-style: solid;
    border-bottom-width: 6px;
    border-top:var(--color2);
    border-top-style: solid;
    border-top-width: 6px;
}

body {
    background-color: var(--color4);
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: var(--color2);
    overflow: hidden;
    border-bottom:var(--color1);
    border-bottom-style: solid;
    border-bottom-width: 6px;
    display: flex;
}

.navbar a.active{
    background-color: var(--color3);
    color:  var(--color4);
}

.navbar a{
    text-decoration: none;
    padding: 20px 20px;
    float: left;
    text-align: center;
    color: var(--color3);
    font-size: 25px;
    font-family: heading2;
    border-radius: 5px;
    margin-right: auto;
    margin-left:auto;
    flex-basis: 100%;
}

.navbar a:link{
    text-decoration: none;
    color: var(--color1);
}

.navbar a:hover {
    background-color: var(--color4);
    color: var(--color2)
}

p {
    font-family: body;
    color: var(--textcolor);
}

.parabody {
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
    background-color:#d7b26d;
    padding: 5px 15px;
    margin-top: 20px;
    letter-spacing: 0.5px;
    border-radius: 10px;
}

.data {
    width: 80%;
}

.ftr {
    width: 90%;
}